<div class="general-container">
  <h1><%= @cocktail.name %></h1>

  <%= image_tag @cocktail.photo, width: 400, height: 300, crop: :fill %>

  <table class="doses-table">
    <tbody>
      <tr>
        <% @doses.each do |dose| %>
          <td width="33%" class="td-left"><%= dose.ingredient.name %></td>
          <td width="66%" class="td-right"><%= dose.description %></td>
          <%= link_to "", dose_path(dose), method: :delete, class: "fas fa-trash-alt" %>
          <% end %>

      </tr>
    </tbody>
  </table>

  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn-treehouse" %>
  <%= link_to "Back", root_path, class: "btn-grey" %>
</div>

