<div class="general-container">
  <h1><%= @cocktail.name %></h1>

  <%= cl_image_tag @cocktail.image, width: 600, height: 450, crop: :fill %>

    <h2 style="width: 600px; margin: 50px 0; text-align: center">How to make it</h2>

  <%= link_to "Back", root_path, class: "btn-grey" %>
  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn-treehouse" %>

  <table class="doses-table">
    <tbody>
      <% @doses.each do |dose| %>
        <tr>
          <td class="td-left"><strong><%= dose.ingredient.name %></strong></td>
          <td class="td-middle"><em><%= dose.description %></em></td>
          <td class="td-right"><%= link_to "", dose_path(dose), method: :delete, class: "fas fa-trash-alt" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

