<h1>bshdhdh<%= @cocktail.name %></h1>

<%=# cl_image_tag ('nvnfkhgipdv03gzmduch'), width: 400, height: 300, crop: :fill %>

<%= image_tag @cocktail.photo, width: 400, height: 300, crop: :fill %>

<ul style="list-style: none">
  <% @doses.each do |dose| %>
  <li>
    <%= dose.ingredient.name %>
    - <%= dose.description %>
    <%= link_to "Delete dose", dose_path(dose),method: :delete, class: "btn btn-primary m-3" %>
  </li>
  <% end %>
</ul>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary mt-3" %>
<%= link_to "Back", root_path, class: "btn btn-primary mt-3" %>
