<%= link_to "Back", cocktails_path, class: "btn btn-primary" %>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :ingredient %>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
